.content5__sortBy{
  background-color: #f6f6f6;
  padding-bottom: 70px;
}

.content5__sortBy__title{
  font-family: 'Samsung Sharp Sans Regular', sans-serif;
  font-size: 30px;
  display: inline-block;
  padding: 50px 0px 15px 40px;
}

.accordion{
  --bs-accordion-bg: #f6f6f6; 
  --bs-primary-text-emphasis: black !important;
  --bs-primary-bg-subtle: transparent !important;
  /*  */ 
  --bs-accordion-btn-focus-box-shadow: transparent !important;
}

.content5__sortBy__accordion{
  padding: 0 40px;
}

.accordion-item{
  border: 1px solid black;
  border-right: none;
  border-left: none
}
.accordion-item:focus{
  outline: none;
}

.accordion-button{
  padding: 30px 0;
  font-family: 'Samsung Sharp Sans Bold', sans-serif;  
  font-size: 40px;
}

.accordion-body{
  padding: 0;
}

