.content5__sortBy{
  background-color: #ccc;
}

.content5__sortBy__title{
  font-family: 'Samsung Sharp Sans Regular', sans-serif;  
  font-size: 30px;
}

.content5__sortBy__accordion{
  padding-top: 30px;
}

.accordion-item{
  border: 1px solid black;
  border-right: none;
  border-left: none;
  border-radius: 100%;
}
.accordion-item:focus{
  outline: none;
}

.accordion-button{
  padding: 30px 0;
  font-family: 'Samsung Sharp Sans Bold', sans-serif;  
  font-size: 40px;
}

.accordion-body{
  padding: 0;
}

