.content__main__banner{
  margin-top: 60px;
  padding: 0 40px;
}

.content__main__banner > span{
  font-size: 22px;
}

.content__main__banner h2{
  font-family: 'Samsung Sharp Sans Bold', sans-serif;
  font-size: 45px;
  padding-bottom: 15px;
}

.content__main__banner__video{
  padding-top: 38px;
}

.content__main__banner video{
  width: 100%;
  height: 100%;
}

.content__main__banner__text{
  position: relative;
  margin-top: 42px;
}

.content__main__banner__title{
  width: 50%;
  float: right;
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
}

.content__main__banner__subDate{
  display: inline-flex;
  position: absolute;
  bottom: -116px;
  right: 430px;
  align-items: center;
  font-size: 12px;
}
/* border right line */
.content__main__banner__subDate span:nth-child(2){
  margin: 0 6px;
}

.content__main__banner__subDate span:nth-child(2)::after{
  content: "";
  display: inline-block;
  margin-top: 5px;
  width: 0.8px;
  height: 15px;
  background-color: #000;
}