.content4__moreStories{
  margin-top: 150px;
  padding: 0 40px;
}

.content4__moreStories__title{
  font-size: 34px;
}

.content4__moreStories__title > .border__bottomLine{
  margin: 0;
}

.content4__moreStories__element{
  display: flex;
  padding-top: 30px;
  flex-direction: column;
}
.content4__moreStroies__element__1stFloor{
  padding-bottom: 36px;
  /* display: flex; */
}

.content4__moreStroies__element__1stFloor, .content4__moreStroies__element__2stFloor{
 display: flex;
 /* flex-direction: column; */
}

/* 1nd */
.content4__moreStories__element__1nd{
  display: flex;
  flex-direction: column;
  padding-right: 35px;
}

.content4__moreStories__element__1nd img{
  width: 370px;
  height: 207px;
  /* width: 100%; */
  /* padding-right: 28px; */
}

.content4__moreStories__element__1nd__title{
  font-size: 28px;
  font-family: 'Samsung Sharp Sans Bold', sans-serif;
  padding-top: 20px;
}

.content4__moreStories__element__1nd__text{
  font-family: 'Samsung Sharp Sans Regular', sans-serif;
  font-weight: 400;
  padding-top: 8px;
}
/* 2nd */
.content4__moreStories__element__2nd{
  display: flex;
  flex-direction: column;
  padding-right: 38px;
}

.content4__moreStories__element__2nd img{
  width: 370px;
  height: 207px;
  /* width: 50%; */
}

.content4__moreStories__element__2nd__title{
  font-size: 28px;
  font-family: 'Samsung Sharp Sans Bold', sans-serif;
  padding-top: 20px;
}

.content4__moreStories__element__2nd__text{
  font-family: 'Samsung Sharp Sans Regular', sans-serif;
  font-weight: 400;
  padding-top: 8px;
}
/* 3nd */
.content4__moreStories__element__3nd{
  display: flex;
  flex-direction: column;
}

.content4__moreStories__element__3nd img{
  width: 370px;
  height: 207px;
  /* width: 33%; */
}

.content4__moreStories__element__3nd__title{
  font-size: 28px;
  font-family: 'Samsung Sharp Sans Bold', sans-serif;
  padding-top: 20px;
}

.content4__moreStories__element__3nd__text{
  font-family: 'Samsung Sharp Sans Regular', sans-serif;
  font-weight: 400;
  padding-top: 8px;
}
/* 4nd */
.content4__moreStories__element__4nd{
  display: flex;
  flex-direction: column;
  padding-right: 35px;
}

.content4__moreStories__element__4nd img{
  width: 370px;
  height: 207px;
  /* width: 33%; */
}

.content4__moreStories__element__4nd__title{
  font-size: 28px;
  font-family: 'Samsung Sharp Sans Bold', sans-serif;
  padding-top: 20px;
}

.content4__moreStories__element__4nd__text{
  font-family: 'Samsung Sharp Sans Regular', sans-serif;
  font-weight: 400;
  padding-top: 8px;
}
/* 5nd */
.content4__moreStories__element__5nd{
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}

.content4__moreStories__element__5nd img{
  width: 370px;
  height: 207px;
  /* width: 33%; */
}

.content4__moreStories__element__5nd__title{
  font-size: 28px;
  font-family: 'Samsung Sharp Sans Bold', sans-serif;
  padding-top: 20px;
}

.content4__moreStories__element__5nd__text{
  font-family: 'Samsung Sharp Sans Regular', sans-serif;
  font-weight: 400;
  padding-top: 8px;
}
/* 6nd */
.content4__moreStories__element__6nd{
  display: flex;
  flex-direction: column;
}

.content4__moreStories__element__6nd img{
  width: 370px;
  height: 207px;
  /* width: 33%; */
}

.content4__moreStories__element__6nd__title{
  font-size: 28px;
  font-family: 'Samsung Sharp Sans Bold', sans-serif;
  padding-top: 20px;
}

.content4__moreStories__element__6nd__text{
  font-family: 'Samsung Sharp Sans Regular', sans-serif;
  font-weight: 400;
  padding-top: 8px;
}
/* btn */
.content4__moreStories__moreBtn{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 160px;
}

.content4__moreStories__moreBtn__line {
  width: 2px;
  height: 60px; /* Adjust the height to your desired value */
  background-color: black;
  position: relative;
  
}

.content4__moreStories__moreBtn__line:hover {
  /* animation: disappear 4s ease-in-out; */
  /* animation: disappear 4s infinite; */
}

@keyframes disappear {
  0% {
    height: 60px;
  }
  50%{
    height: 0px;
  }
  100% {
    height: 0px;
  }
}

