@import url('https://fonts.cdnfonts.com/css/samsung-sharp-sans-regular?styles=16567,16568');
@import url(css/rolling__text.css);
@import url(css/header.css);
@import url(css/content__main__banner.css);
@import url(css/content2__latest.css);
@import url(css/content3.css);
@import url(css/content4.css);
@import url(css/content5.css);
/* font-family: 'Samsung Sharp Sans Bold', sans-serif; 
font-family: 'Samsung Sharp Sans Regular', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */
/* right,left padding : 40px */
body{
  margin: 0;
}

.container__wrap{
  padding: 0px;
  font-weight: bold;
  font-family: 'Samsung Sharp Sans Regular', sans-serif;
  height: 9000px;
}

.border__bottomLine{
  border-bottom: 0.8px solid #000;
}

.hidden {
  display: none;
  margin: 0;
}



